{% extends "layout.html" %} 
{% block title %}/Account{% endblock %} 
{% block accountBtn_active %}bg-blue-100 text-blue-500{% endblock %} 
{% block accountSpan_active %}font-bold text-blue-500{% endblock %} 
{% block settingsBtn_active %}text-gray-500 group-hover:bg-gray-100{% endblock %} 
{% block homeBtn_active %}text-gray-500 group-hover:bg-gray-100{% endblock %} 
{% block body %}

<div class="w-full h-full flex justify-center items-center text-9xl text-gray-300">
  <h1>Account</h1>
</div>

{% endblock %}
