{% block posts %}

<div id="post-dashboard" class="overflow-y-auto space-y-6 h-full pt-20 py-6">
  {% for i in range(2) %}
  <!-- Individual Post -->
  <div class="bg-white shadow-md rounded-3xl p-4 space-y-4">
    <!-- Post Header (User Info + Date + Image) -->
    <div class="flex justify-between">
      <div class="flex items-center space-x-2">
        <!-- temp div for image -->
        <img
          src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1480&amp;q=80"
          alt="avatar" class="relative inline-block h-9 w-9 !rounded-full object-cover object-center" />
        <div>
          <p class="font-semibold text-slate-600">User</p>
          <p class="text-sm text-gray-500">dd/mm/yy, hh:mm AM/PM</p>
        </div>
      </div>

      <button class="rounded-full hover:bg-gray-100 px-2.5 text-gray-500">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M12 6.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 12.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 18.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5Z" />
        </svg>
      </button>

      <div class="relative inline-block text-left">
        <div>
          <button type="button"
            class="inline-flex w-full justify-center gap-x-1.5 rounded-full bg-white active:bg-gray-200 px-2 py-2 font-semibold text-gray-900 shadow-sm hover:bg-gray-100"
            id="menu-button" aria-expanded="false" aria-haspopup="true">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M12 6.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 12.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 18.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5Z" />
            </svg>
          </button>
        </div>

        <!--
          Dropdown menu, show/hide based on menu state.
      
          Entering: "transition ease-out duration-100"
            From: "transform opacity-0 scale-95"
            To: "transform opacity-100 scale-100"
          Leaving: "transition ease-in duration-75"
            From: "transform opacity-100 scale-100"
            To: "transform opacity-0 scale-95"
        -->
        <div
          class="absolute right-0 z-10 mt-2 w-32 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black/5 focus:outline-none hidden"
          role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
          <div class="py-1" role="none">
            <!-- Active: "bg-gray-100 text-gray-900 outline-none", Not Active: "text-gray-700" -->
            <a href="#"
              class="px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 active:bg-gray-200 mx-1 rounded-md flex items-center gap-2"
              role="menuitem" tabindex="-1" id="menu-item-0">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="size-4">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
              </svg>

              Edit
            </a>
            <a href="#"
              class="px-4 py-2 text-sm text-pink-600 hover:bg-gray-100 active:bg-gray-200 mx-1 rounded-md flex items-center gap-2"
              role="menuitem" tabindex="-1" id="menu-item-1">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="size-4">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
              </svg>

              Remove
            </a>
          </div>
        </div>
      </div>

      
    </div>

    <div class="flex justify-between items-start">
      <!-- Div 1 (50% width) -->
      <div class="w-1/2 flex flex-col space-y-8">
        <!-- Div 1.1 -->

        <!-- Div 1.2 -->
        <!-- Post Title & Caption -->
        <div>
          <p class="text-lg text-slate-600 font-semibold">Post Title</p>
          <p class="text-gray-600 italic">
            This is a short caption introducing the post...
          </p>
        </div>

        <!-- Post Image -->
        <div class="w-full h-56 bg-gray-100 rounded-3xl flex justify-center items-center space-x-4 text-gray-500">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="size-5">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M18.364 18.364A9 9 0 0 0 5.636 5.636m12.728 12.728A9 9 0 0 1 5.636 5.636m12.728 12.728L5.636 5.636" />
          </svg>
          <p>No image in this post.</p>
        </div>
      </div>

      <!-- temp div for Sentiment Graph -->
      <!-- Div 2 (50% width) -->
      <div class="w-1/2 h-full flex items-center justify-center">
        <!-- Div 2.1 -->
        <!-- <div class="w-full h-32 rounded-3xl bg-gray-100 flex justify-end"> -->
        <div class="w-full h-full rounded-3xl flex items-center justify-center">
          {% if i == 1 %}
          <!-- <div class="w-full h-full"> -->

          <canvas class="max-w-72 max-h-72" id="doughnutChart"></canvas>
          <!-- </div> -->
          <!-- Doughnut Chart -->
          <!-- <canvas id="doughnutChart"></canvas> -->
          {% else %}
          <canvas class="max-w-72 max-h-72" id="radarChart1"></canvas>
          {% endif %}
          <!-- <canvas id="radarChart2"></canvas> -->
        </div>
        <!-- <canvas id="radarChart"></canvas> -->
      </div>
    </div>

    <!-- Rest of the post content -->

    <!-- Post Image -->
    <!-- <div class="w-full h-56 bg-gray-100 rounded-3xl mt-2"> -->
    <!-- Temp image -->
    <!-- </div> -->

    <!-- Post Description -->
    <p class="text-gray-700 mt-4">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non
      dolor nec ligula tincidunt sodales sit amet id orci. Mauris vitae nunc
      sapien. Etiam tincidunt sapien ac orci ultrices, ac fringilla ligula
      tristique. Curabitur vehicula, lacus non aliquam tincidunt, justo magna
      ultrices enim, id aliquet lorem eros ac nunc.
    </p>

    <!-- Post Footer (Share + Listen) -->
    <div class="flex justify-end items-center space-x-4">
      <button
        class="rounded-full border border-transparent py-1 px-4 text-center text-sm transition-all text-blue-500 hover:bg-blue-100 focus:bg-blue-100 active:bg-blue-100 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none flex items-center justify-center gap-2"
        type="button">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="size-4">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M19.114 5.636a9 9 0 0 1 0 12.728M16.463 8.288a5.25 5.25 0 0 1 0 7.424M6.75 8.25l4.72-4.72a.75.75 0 0 1 1.28.53v15.88a.75.75 0 0 1-1.28.53l-4.72-4.72H4.51c-.88 0-1.704-.507-1.938-1.354A9.009 9.009 0 0 1 2.25 12c0-.83.112-1.633.322-2.396C2.806 8.756 3.63 8.25 4.51 8.25H6.75Z" />
        </svg>
        Listen
      </button>

      <button
        class="rounded-full border border-transparent py-1 px-4 text-center text-sm transition-all text-blue-500 hover:bg-blue-100 focus:bg-blue-100 active:bg-blue-100 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none flex items-center justify-center gap-2"
        type="button">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="size-4">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M7.217 10.907a2.25 2.25 0 1 0 0 2.186m0-2.186c.18.324.283.696.283 1.093s-.103.77-.283 1.093m0-2.186 9.566-5.314m-9.566 7.5 9.566 5.314m0 0a2.25 2.25 0 1 0 3.935 2.186 2.25 2.25 0 0 0-3.935-2.186Zm0-12.814a2.25 2.25 0 1 0 3.933-2.185 2.25 2.25 0 0 0-3.933 2.185Z" />
        </svg>
        Share
      </button>
    </div>
  </div>

  {% endfor %}
</div>

<!-- Post Form (Fixed at Bottom of Posts Section) -->
<div id="post-dashboard-bottom" style="box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1)"
  class="bg-white py-4 px-6 shadow-lg rounded-t-lg z-30">
  <div class="flex space-x-4">
    <button id="post-open-form"
      class="w-full rounded-3xl bg-blue-100 py-3 px-6 border border-transparent text-gray-600 hover:text-gray-700 text-left transition-all focus:bg-blue-200 focus:shadow-none active:bg-blue-200 hover:bg-blue-200 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ml-2 cursor-text"
      type="button">
      Create a post
    </button>
  </div>
</div>

{% endblock %}